<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="{% static 'css/wms.css' %}" />
        <title>Olive WMS</title>
    </head>
    <body>
        <div id="app">
            <div class="head">Olive WMS</div>
            <div class="body">
                <div class="general_box">
                    <template v-for="i in general">
                        <a :href="i[1]" class="general">
                            <div class="general_icon">
                                <img :src="i[2]" />
                            </div>
                            <div class="general_title" v-text="i[0]"></div>
                        </a>
                    </template>
                </div>
                <div class="func_box">
                    <template v-for="i in func">
                        <a :href="i[1]">
                            <div class="func">
                                <img :src="i[2]" />
                                <p class="func_name" v-text="i[0]"></p>
                                <img src="{% static 'icon/arrow-right-s-line.svg' %}" />
                            </div>
                        </a>
                    </template>
                </div>
                <div class="copyright">
                    Olive WMS &copy; 2023<br />Created by
                    <a href="https://github.com/MisakaAI">MisakaAI</a>
                </div>
            </div>
        </div>
    </body>
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    general: [
                        ["库存查询", "/search", "{% static 'icon/search-2-line.svg' %}"],
                        ["库存统计", "/count", "{% static 'icon/slideshow-line.svg' %}"],
                        ["生产入库", "/put_in", "{% static 'icon/hammer-fill.svg' %}"],
                        ["系统设置", "/setting", "{% static 'icon/settings-5-fill.svg' %}"],
                    ],
                    func: [
                        ["进货", "/purchase", "{% static 'icon/inbox-archive-fill.svg' %}"],
                        ["退货", "/purchase_return", "{% static 'icon/inbox-unarchive-fill.svg' %}"],
                        ["领料", "/get_material", "{% static 'icon/inbox-unarchive-fill.svg' %}"],
                        ["退料", "/material_return", "{% static 'icon/inbox-archive-fill.svg' %}"],
                        ["销售", "/sale", "{% static 'icon/inbox-unarchive-fill.svg' %}"],
                        ["销退", "/sale_return", "{% static 'icon/inbox-unarchive-fill.svg' %}"],
                        ["盘点", "/check", "{% static 'icon/bar-chart-box-fill.svg' %}"],
                    ],
                }
            },
        }).mount("#app")
    </script>
</html>
