{% extends "wms/form.html" %}
{% block title %}Olive WMS 退货{% endblock %}
{% block page_title %}退货{% endblock %}
{% load static %}
{% block content %}
{% csrf_token %}
<!-- 主页面 -->
<div class="body" v-if="!select">
    <!-- 错误信息 -->
    <div :class="'message ' + message.type" v-if="message.status" v-text="message.text"></div>
    <!-- 进货单号 -->
    <div class="form">
        <div class="form_title">
            <div>进货单</div>
            <button @click="sel('purchase')">
                <img src="{% static 'icon/filter-3-line.svg' %}" />&nbsp;选择
            </button>
        </div>
        <div class="form_body">
            <input type="text" v-model="value.order" disabled />
        </div>
    </div>
    <!-- 产品 -->
    <div class="form">
        <div class="form_title">
            <div>产品</div>
        </div>
        <div class="form_body">
            <input type="text" v-model="value.item" disabled />
        </div>
    </div>
    <!-- 数量 -->
    <div class="form">
        <div class="form_title">数量</div>
        <div class="form_body">
            <input type="number" v-model="value.num" onkeyup="value=value.replace(/\D/g,'')"/>
        </div>
    </div>
    <!-- 储位 -->
    <div class="form">
        <div class="form_title">
            <div>储位</div>
            <button @click="sel('warehouse')">
                <img src="{% static 'icon/filter-3-line.svg' %}" />&nbsp;选择
            </button>
        </div>
        <div class="form_body">
            <input type="text" v-model="value.storage" onkeyup="this.value = this.value.replace(/[^0-9-]|^-(?=.*-)|(?<=-)-/g, '')">
        </div>
    </div>
    <!-- 功能：添加（添加产品到待提交列表中）、出库（提交到后端） -->
    <div class="submit">
        <button class="button" @click="add">添加</button>
        <button class="push" @click="push">出库</button>
    </div>
    <!-- 待提交产品列表 -->
    <div class="list">
        <table v-if="item_list.length!=0">
            <thead>
                <tr>
                    <th>单号</th>
                    <th>产品</th>
                    <th>数量</th>
                    <th>储位</th>
                    <th>功能</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="i,n in item_list">
                <tr>
                    <td v-text="i.order"></td>
                    <td v-text="i.item"></td>
                    <td v-text="i.num"></td>
                    <td v-text="i.storage"></td>
                    <td>
                        <button class="delect" @click="del_item(n)">删除</button>
                    </td>
                </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>
<!-- 子页面 用于选择各项内容 -->
<div class="body" v-if="select">
    <!-- 选择 进货单 -->
    <template v-if="setmode=='进货单'">
        <div class="form">
            <div class="form_body">
                <input type="number" onkeyup="value=value.replace(/\D/g,'')" placeholder="请输入“进货单单号”进行查询" v-model="search_value" @keydown.enter="search('purchase')" />
                <button @click="search('purchase')">
                    <img src="{% static 'icon/search-2-line.svg' %}" />
                </button>
            </div>
        </div>
        <div class="list">
            <table v-if="search_return.length!=0">
                <thead>
                    <tr>
                        <th>单号</th>
                        <th>供应商</th>
                        <th>产品</th>
                        <th>数量</th>
                        <th>功能</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="x,y in search_return">
                        <template v-for="i in x[2]">
                            <tr>
                                <td v-text="y"></td>
                                <td v-text="x[1]"></td>
                                <td v-text="i.item"></td>
                                <td v-text="i.num"></td>
                                <td>
                                    <button class="set" @click="value.order=y;value.item=i.item;value.num=i.num;value.storage=i.storage;select=false;">选择</button>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
            <div class="form_info" v-else>未查询到进货单，请重新搜索。</div>
        </div>
    </template>
    <!-- 选择 仓库、库区、货架、储位 -->
    <div class="form" v-if="setmode=='仓库' || setmode=='库区' || setmode=='货架' || setmode=='储位'">
        <template v-if="search_return.length!=0">
            <template v-if="setmode=='仓库'">
                <template v-for="s in search_return">
                    <div class="storage_location" v-text="s[0]" @click="setmode='库区';search('storage_area',s[1])"></div>
                </template>
            </template>
            <template v-if="setmode=='库区'">
                <template v-for="s in search_return">
                    <div class="storage_location" v-text="s[0]" @click="setmode='货架';search('shelf',s[1])"></div>
                </template>
            </template>
            <template v-if="setmode=='货架'">
                <template v-for="s in search_return">
                    <div class="storage_location" v-text="s[0]" @click="setmode='储位';search('storage_location',s[1])"></div>
                </template>
            </template>
            <template v-if="setmode=='储位'">
                <div class="box">
                    <div class="box_row" v-for="x in search_return[3]">
                        <template v-for="y,z in x">
                        <div class="bow_cell" v-if="y" v-text="z" @click="storage_location(z)"></div>
                        <div class="bow_cell_none" v-else v-text="z" @click="storage_location(z)"></div>
                        </template>
                    </div>
                </div>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>储位</th>
                            <th>产品</th>
                            <th>数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="x in search_return[4]">
                            <tr>
                                <td v-text="x[0]"></td>
                                <td v-text="x[1]"></td>
                                <td v-text="x[2]"></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </template>
        </template>
        <template v-else>
            <div class="form_info">该区域内没有<span v-text="setmode"></span>，请重新选择。</div>
        </template>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const { createApp } = Vue
    createApp({
        data() {
            return {
                freeze: false, // 窗口冻结
                message: {
                    status: false,
                    type: "",
                    text: "",
                },
                error_info: "", // 错误信息
                select: false, // 是否进入选择界面
                setmode: "", // 选择模式
                search_value: "", // 搜素内容
                search_return: "", // 搜素结果
                value: {
                    order: "", // 单号
                    item: "", // 产品
                    num: "", // 数量
                    storage: "" // 储位
                },
                item_list: [], // 待提交产品列表
            }
        },
        methods: {
            // 搜索
            search(e,id=false) {
                let that = this
                let url = "/search?type=" + e
                if (this.search_value != "") {
                    url = url + "&v=" + this.search_value
                }
                if (id != false ) {
                    url = url + "&id=" + id
                }
                axios.get(url)
                    .then(function (response) {
                        // console.log(response)
                        that.search_return = response.data
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
                    .finally(function () {})
            },
            // 校对储位
            storage_location(e) {
                this.value.storage=this.search_return[0] + '-' + e
                this.select=false
                let c = false
                let search_return = JSON.parse(JSON.stringify(this.search_return))
                for ( i in search_return[4] ) {
                    if ( e ==  search_return[4][i][0]) {
                        if (search_return[4][i][1]==this.value.item) {
                            c = true
                        }
                    }
                }
                if (!c) {
                    this.message = {
                        status: true,
                        type: "error",
                        text: "该储位没有 " + this.value.item,
                    }
                    this.value.storage = ""
                    let that = this
                    setTimeout(function() {
                        that.message={
                            status: false,
                            type: "",
                            text: "",
                        }
                    }, 3000); // 3000 毫秒 = 3 秒
                }
            },
            // 选择
            sel(e) {
                this.select = true
                this.search_value = ""
                if (e == "purchase") {
                    this.setmode = "进货单"
                } else if (e == "warehouse") {
                    if (this.value.item == "") {
                        this.select = false
                        this.message = {
                            status: true,
                            type: "error",
                            text: "请先选择进货单",
                        }
                        let that = this
                        setTimeout(function() {
                            that.message={
                                status: false,
                                type: "",
                                text: "",
                            }
                        }, 3000); // 3000 毫秒 = 3 秒
                    } else {
                        this.setmode = "仓库"
                    }
                }
                this.search(e)
            },
            // 添加到待提交产品列表
            add(event) {
                this.message.status=false
                for (i in this.value) {
                    if (this.value[i] == "") {
                        this.message.status=true
                    }
                }
                if (this.message.status) {
                    // 如果有错误，弹出错误提示
                    this.message.type="error"
                    this.message.text = "有内容为空，无法添加。"
                    let that = this
                    setTimeout(function() {
                        that.message={
                            status: false,
                            type: "",
                            text: "",
                        }
                    }, 3000); // 3000 毫秒 = 3 秒
                } else {
                    // 如果没有错误则添加到待提交产品列表
                    this.item_list.push(this.value)
                    this.value = {
                        order: "",
                        item: "",
                        num: "",
                        storage: ""
                    }
                }
            },
            // 删除待提交产品列表中的第 n 项
            del_item(n) {
                this.item_list.splice(n,1)
            },
            // 提交到后台
            push(event) {
                let that = this
                this.freeze = true
                if (this.supplier != '' && this.item_list.length != 0) {
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    axios.post("/submit",
                        {
                            type: 'purchase_return',
                            item_list: JSON.stringify(this.item_list)
                        },
                        {
                            headers: {
                                "X-CSRFToken": csrftoken,
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                    )
                    .then(function (response) {
                        if (response.data.status == "success") {
                            that.item_list = []
                            that.supplier = ""
                            that.value = {
                                item: "",
                                price: "",
                                num: "",
                                storage: ""
                            }
                            that.message = {
                                status: true,
                                type: "info",
                                text: "出库成功",
                            }
                            setTimeout(function() {
                                that.message={
                                    status: false,
                                    type: "",
                                    text: "",
                                }
                            }, 3000);
                        } else {
                            that.message = {
                                status: true,
                                type: "error",
                                text: response.data.info,
                            }
                            setTimeout(function() {
                                that.message={
                                    status: false,
                                    type: "",
                                    text: "",
                                }
                            }, 3000);
                        }
                    })
                    .catch(function (error) {
                        console.log(error)
                        that.message = {
                            status: true,
                            type: "error",
                            text: "提交出现错误，请重试。",
                        }
                        setTimeout(function() {
                            that.message={
                                status: false,
                                type: "",
                                text: "",
                            }
                        }, 3000);
                    })
                } else {
                    this.message.status=true
                    this.message.type="error"
                    if (this.item_list.length == 0) {
                        this.message.text = "请先添加待退货产品"
                    } else {
                        this.message.text = "其他错误，请联系管理员处理。"
                    }
                }
                if (this.freeze==true) {
                    this.freeze=false
                }
                if (this.message.status) {
                    setTimeout(function() {
                        that.message={
                            status: false,
                            type: "",
                            text: "",
                        }
                    }, 3000);
                }
            }
        },
    }).mount("#app")
</script>
{% endblock %}
